# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
.env.*

# Documentation files with sensitive values (optional - you can keep them but be aware)
# NETLIFY_ENV_VARS.md
# FIREBASE_TROUBLESHOOTING.md

npm-debug.log*
yarn-debug.log*
yarn-error.log*
